@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

* {
  margin: 0px;
} 


table {
    border-collapse: collapse;
    border-spacing: 300px;
    width: 50%;
    margin-left: 600px;
    margin-top: 50px;
  }

table th {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; 
    font-size: 21px;  
  }

table th,
  td {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    cursor: default;

    font-size: 21px;
    margin: auto;
  }

table tr{
    font-family: 'Poppins', sans-serif;
   
    font-size: 18px;  
}

#button_view_details_student_attendance {
    width: 100px;
    margin-left: 20px;
    height: 30px;
    border-radius: 10px;
    border: 0.1px;
    font-size: 12px;
    font-weight: 300;
    background-color: #42424260;
    font-family: 'Poppins', sans-serif;
  }

  button[type=submit]:hover {
    background-color: #0065FF;
    color: #112fdb;
  }

  tr:nth-child(even) {
    background-color: #42424217;
  }

  tr:hover {
    background-color: #ebebeba9;
  }
