@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
*
{
    margin: 0px; padding: 0px;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    color: #172B4D;
    margin: auto;
    margin-left: 20px;
    
}

.student-profile .card {
    border-radius: 12px;
}

.student-profile .card .card-header .profile_img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 10px auto;
    border: 8px solid #ccc;
    border-radius: 50%;
}

.student-profile .card h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}

.student-profile .card p {
    font-size: 16px;
    color: #000;
}

.student-profile .table th,
.student-profile .table td {
    text-align: left;
    font-size: 14px;
    padding: 1px 1px;
    color: #000;
}
.pr1
{
    margin-right:20px ;
}